Repository SymbiFlow/vtr-verilog-to-routing, pull requests merged in 2019-03, with the labels that each got.

#22 Revert badge to the SymbiFlow Travis-CI.
  README.md
Labels: docs

#24 Restore HLC to work with VPR master.
  utils/CMakeLists.txt
  utils/hlc/src/ice40_hlc.cpp
  utils/hlc/src/ice40_hlc.h
  utils/hlc/src/main.cpp
Labels: build, lang-cpp, lang-make

#25 Disable recalculate tolerance errors (demote to warning).
  vpr/src/place/place.cpp
Labels: VPR, lang-cpp

#26 genhlc: fix pin checking after sync to upstream
  utils/hlc/src/ice40_hlc.cpp
Labels: lang-cpp

#27 vpr: fixed broken round_robin option
  vpr/src/base/SetupVPR.cpp
Labels: VPR, lang-cpp

#28 fasm: Use z index and capacity to allow multiple prefixes at top-level pb_type
  utils/fasm/src/fasm.cpp
Labels: lang-cpp

#29 vpr: differing modes between lib_nets fix
  libs/libarchfpga/src/physical_types.h
  vpr/src/pack/cluster.cpp
  vpr/src/pack/cluster_router.cpp
  vpr/src/pack/cluster_router.h
  vtr_flow/arch/pack_modes/slicem.xml
  vtr_flow/benchmarks/microbenchmarks/carry_chain.blif
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_pack_modes/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_pack_modes/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR, VTR Flow, lang-cpp, lang-netlist, libarchfpga, tests

#35 Merge with upstream
  README.developers.md
  doc/src/index.rst
  doc/src/utils/fasm.rst
  doc/src/utils/index.rst
  libs/libarchfpga/src/cad_types.h
  utils/fasm/src/fasm.cpp
  utils/fasm/src/fasm.h
  utils/fasm/src/lut.cpp
  utils/fasm/src/lut.h
  utils/fasm/src/main.cpp
  utils/fasm/test/test_fasm.cpp
  vpr/src/base/logic_vec.cpp
  vpr/src/base/logic_vec.h
  vpr/src/base/netlist_walker.cpp
  vpr/src/base/netlist_walker.h
  vpr/src/base/netlist_writer.cpp
  vpr/src/base/netlist_writer.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.cpp
  vpr/src/base/vpr_types.h
  vpr/src/pack/prepack.cpp
  vpr/src/place/timing_place_lookup.cpp
  vpr/src/route/route_breadth_first.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/route_common.h
  vpr/src/route/route_timing.cpp
  vpr/src/route/route_tree_timing.cpp
  vpr/src/route/rr_graph.cpp
  vtr_flow/arch/timing/k6_frac_N10_frac_chain_mem32K_htree0short_40nm.xml
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_dedicated_clock/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_dedicated_clock/config/golden_results.txt
Labels: Odin, VPR, VTR Flow, build, docs, external_libs, infra, lang-cpp, lang-make, lang-netlist, libarchfpga, tests
