Repository SymbiFlow/vtr-verilog-to-routing, pull requests merged in 2019-05, with the labels that each got.

#46 Reset illegal_modes prior to attempting cluster routing.
  vpr/src/pack/cluster.cpp
  vpr/src/pack/cluster_router.cpp
  vpr/src/pack/cluster_router.h
Labels: VPR, lang-cpp

#48 vpr options: added option to disable check_route
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
Labels: VPR, lang-cpp

#50 mode selection: check modes while committing rt nets
  vpr/src/pack/cluster_router.cpp
Labels: VPR, lang-cpp

#52 Merge upstream
  README.md
  doc/src/dev/tutorial.md
  doc/src/vpr/graphics.rst
  libs/libarchfpga/src/physical_types.h
  utils/fasm/src/fasm.cpp
  vpr/src/base/read_place.cpp
  vpr/src/base/read_route.cpp
  vpr/src/base/vpr_types.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_types.cpp
  vpr/src/pack/cluster.cpp
  vpr/src/pack/cluster_placement.cpp
  vpr/src/pack/pack_types.h
  vpr/src/pack/pb_type_graph.cpp
  vpr/src/place/place.cpp
  vpr/src/place/place_macro.cpp
  vpr/src/place/place_macro.h
  vpr/src/route/check_route.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/rr_graph_reader.cpp
  vpr/src/timing/VprTimingGraphResolver.cpp
  vpr/src/util/vpr_utils.cpp
Labels: VPR, docs, lang-cpp, libarchfpga

#51 Enable PugiXML compact mode
  libs/EXTERNAL/libpugixml/CMakeLists.txt
Labels: build, external_libs, lang-make

#53 Merge upstream
  ODIN_II/.gitignore
  ODIN_II/Makefile
  ODIN_II/SRC/ast_elaborate.cpp
  ODIN_II/SRC/ast_loop_unroll.cpp
  ODIN_II/SRC/ast_util.cpp
  ODIN_II/SRC/enum_str.cpp
  ODIN_II/SRC/implicit_memory.cpp
  ODIN_II/SRC/include/ast_elaborate.h
  ODIN_II/SRC/include/ast_loop_unroll.h
  ODIN_II/SRC/include/ast_util.h
  ODIN_II/SRC/include/odin_types.h
  ODIN_II/SRC/include/parse_making_ast.h
  ODIN_II/SRC/memories.cpp
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/parse_making_ast.cpp
  ODIN_II/SRC/verilog_bison.y
  ODIN_II/SRC/verilog_flex.l
  ODIN_II/SRC/verilog_preprocessor.cpp
  ODIN_II/regression_test/benchmark/_bug/macro_in_module_declaration.v
  ODIN_II/regression_test/benchmark/_bug/part_select.v
  ODIN_II/regression_test/benchmark/micro/param_override.v
  ODIN_II/regression_test/benchmark/micro/param_override_input
  ODIN_II/regression_test/benchmark/micro/param_override_output
  ODIN_II/regression_test/benchmark/operators/clog2.v
  ODIN_II/regression_test/benchmark/operators/clog2_input
  ODIN_II/regression_test/benchmark/operators/clog2_output
  ODIN_II/regression_test/benchmark/syntax/inferred_DPram.v
  ODIN_II/regression_test/benchmark/syntax/inferred_SPram.v
  ODIN_II/regression_test/benchmark/syntax/inferred_ram_w_clog2.v
  ODIN_II/regression_test/benchmark/vtr_reg_valgrind/task_list.txt
  ODIN_II/regression_test/benchmark/vtr_reg_valgrind/valgrind/config/config.txt
  ODIN_II/regression_test/benchmark/vtr_reg_valgrind/valgrind/config/golden_results.txt
  ODIN_II/verify_odin.sh
  doc/src/odin/index.rst
  libs/libvtrutil/src/vtr_flat_map.h
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_types.h
  vpr/src/place/place.cpp
Labels: Odin, build, lang-cpp, lang-hdl, lang-make, tests

#54 Various changes to VPR to add initial Cinternal and CARRY4 changes
  libs/EXTERNAL/libtatum/libtatum/tatum/TimingConstraints.hpp
  libs/libarchfpga/src/physical_types.h
  libs/libarchfpga/src/read_xml_arch_file.cpp
  libs/libvtrutil/src/vtr_flat_map.h
  vpr/src/pack/cluster.cpp
  vpr/src/place/place.cpp
  vpr/src/route/check_rr_graph.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph_reader.cpp
  vpr/src/route/rr_graph_writer.cpp
Labels: Odin, VPR, docs, external_libs, lang-cpp, libarchfpga, libvtrutil

#56 Merge upstream
  ODIN_II/SRC/netlist_create_from_ast.cpp
  ODIN_II/SRC/verilog_preprocessor.cpp
  README.developers.md
  doc/src/utils/fasm.rst
  libs/EXTERNAL/libtatum/libtatum/tatum/timing_paths.cpp
  libs/libvtrutil/src/vtr_small_vector.h
  libs/libvtrutil/test/test_small_vector.cpp
  vpr/src/base/vpr_tatum_error.cpp
  vpr/src/route/route_timing.cpp
Labels: Odin, VPR, docs, external_libs, lang-cpp, libvtrutil, tests

#58 Allow 1:N mapping of eblif parameters to fasm features
  utils/fasm/src/parameters.cpp
  utils/fasm/src/parameters.h
Labels: lang-cpp

#62 utils/fasm: Fix segfault in handle_fasm_prefix.
  utils/fasm/src/fasm.cpp
Labels: lang-cpp

#63 Fix the current failing `make test`
  .travis/script.sh
  utils/fasm/test/test_parameters.cpp
Labels: infra, lang-cpp, lang-shell, scripts, tests
