Repository SymbiFlow/vtr-verilog-to-routing, pull requests merged in 2019-12, with the labels that each got.

#338 Add place constraints
  CHANGELOG.md
  vpr/src/base/read_place.cpp
  vpr/src/place/initial_placement.cpp
Labels: VPR, docs, lang-cpp

#339 Faster rr graph load
  utils/fasm/src/main.cpp
  utils/fasm/test/test_fasm.cpp
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/place_and_route.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
  vpr/src/route/route_common.cpp
  vpr/src/route/router_delay_profiling.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph.h
  vpr/src/route/rr_graph_reader.cpp
  vpr/src/route/rr_graph_reader.h
  vpr/test/test_vpr.cpp
Labels: VPR, lang-cpp, tests

#343 recent lookahead sampling changes
  libs/libvtrcapnproto/connection_map.capnp
  libs/libvtrutil/src/vtr_geometry.h
  libs/libvtrutil/src/vtr_geometry.tpp
  libs/libvtrutil/test/test_geometry.cpp
  vpr/src/route/connection_box_lookahead_map.cpp
  vpr/src/route/connection_box_lookahead_map.h
  vpr/src/route/router_lookahead_map_utils.cpp
  vpr/src/route/router_lookahead_map_utils.h
Labels: VPR, lang-cpp, libvtrutil, tests

#349 Remove equivalent sites branch
  .gitignore
  CMakeLists.txt
  vpr/scripts/compare_timing_reports.py
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/atom_netlist_utils.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/read_route.cpp
  vpr/src/base/setup_clocks.cpp
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_context.h
  vpr/src/base/vpr_types.h
  vpr/src/place/place.cpp
  vpr/src/route/check_route.cpp
  vpr/src/route/clock_connection_builders.cpp
  vpr/src/route/clock_connection_builders.h
  vpr/src/route/clock_network_builders.cpp
  vpr/src/route/route_common.cpp
  vpr/src/route/route_common.h
  vpr/src/route/route_timing.cpp
  vpr/src/route/rr_graph_area.cpp
  vpr/src/route/rr_node.cpp
  vpr/src/timing/clb_delay_calc.inl
  vpr/src/util/vpr_utils.cpp
  vpr/src/util/vpr_utils.h
  vtr_flow/arch/timing/k6_frac_N10_frac_chain_mem32K_htree0_40nm.xml
  vtr_flow/arch/timing/k6_frac_N10_frac_chain_mem32K_htree0_routedCLK_40nm.xml
  vtr_flow/benchmarks/ispd_blif/README.rst
  vtr_flow/parse/parse_config/common/ispd_benchmarks.txt
  vtr_flow/parse/parse_config/vpr_ispd.txt
  vtr_flow/parse/pass_requirements/common/pass_requirements.ispd_benchmarks.txt
  vtr_flow/parse/pass_requirements/pass_requirements_vpr_ispd.txt
  vtr_flow/parse/qor_config/qor_vpr_ispd.txt
  vtr_flow/scripts/download_ispd.py
  vtr_flow/scripts/run_vtr_flow.pl
  vtr_flow/tasks/regression_tests/README.md
  vtr_flow/tasks/regression_tests/README.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
  vtr_flow/tasks/regression_tests/vtr_reg_weekly/task_list.txt
  vtr_flow/tasks/regression_tests/vtr_reg_weekly/vpr_ispd/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_weekly/vpr_ispd/config/golden_results.txt
Labels: VPR, VTR Flow, build, docs, infra, lang-cpp, lang-make, lang-python, libvtrutil, scripts, tests
