Repository SymbiFlow/vtr-verilog-to-routing, pull requests merged in 2020-01, with the labels that each got.

#359 Hoist lookup
  vpr/src/base/read_route.cpp
Labels: VPR, lang-cpp

#362 Added penalty cost
  libs/libarchfpga/src/physical_types.h
  libs/libarchfpga/src/read_xml_arch_file.cpp
  vpr/src/base/SetupVPR.cpp
  vpr/src/route/route_timing.cpp
  vpr/src/route/router_lookahead.cpp
  vpr/src/route/router_lookahead_map_utils.cpp
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph.h
  vpr/src/route/rr_graph_indexed_data.cpp
  vpr/src/route/rr_graph_reader.cpp
  vpr/src/route/rr_graph_writer.cpp
  vpr/src/route/rr_node.h
  vpr/src/util/vpr_utils.cpp
  vpr/src/util/vpr_utils.h
Labels: VPR, lang-cpp, libarchfpga

#365 Improve VTR/genfasm startup
  libs/libarchfpga/src/arch_util.cpp
  libs/libarchfpga/src/arch_util.h
  libs/libarchfpga/src/physical_types.h
  libs/libarchfpga/src/read_xml_arch_file.cpp
  libs/libvtrcapnproto/CMakeLists.txt
  libs/libvtrcapnproto/gen/README.gen.md
  libs/libvtrcapnproto/gen/rr_graph_uxsdcxx.capnp
  libs/libvtrutil/src/vtr_flat_map.h
  libs/libvtrutil/src/vtr_ndmatrix.h
  libs/libvtrutil/src/vtr_string_interning.h
  libs/libvtrutil/src/vtr_string_view.h
  libs/libvtrutil/test/test_strings.cpp
  utils/fasm/src/fasm.cpp
  utils/fasm/src/fasm.h
  utils/fasm/src/main.cpp
  utils/fasm/test/test_fasm.cpp
  vpr/CMakeLists.txt
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/device_grid.h
  vpr/src/base/vpr_context.h
  vpr/src/base/vpr_types.h
  vpr/src/route/SCHEMA_GENERATOR.md
  vpr/src/route/check_rr_graph.h
  vpr/src/route/connection_box.cpp
  vpr/src/route/gen/README.gen.md
  vpr/src/route/gen/rr_graph_uxsdcxx.h
  vpr/src/route/gen/rr_graph_uxsdcxx_capnp.h
  vpr/src/route/gen/rr_graph_uxsdcxx_interface.h
  vpr/src/route/rr_graph.cpp
  vpr/src/route/rr_graph.xsd
  vpr/src/route/rr_graph2.cpp
  vpr/src/route/rr_graph2.h
  vpr/src/route/rr_graph_clock.cpp
  vpr/src/route/rr_graph_reader.cpp
  vpr/src/route/rr_graph_reader.h
  vpr/src/route/rr_graph_uxsdcxx_serializer.h
  vpr/src/route/rr_graph_writer.cpp
  vpr/src/route/rr_graph_writer.h
  vpr/src/route/rr_metadata.cpp
  vpr/src/route/rr_metadata.h
  vpr/src/util/vpr_utils.cpp
  vpr/src/util/vpr_utils.h
  vpr/test/test_vpr.cpp
  vtr_flow/scripts/run_vtr_flow.pl
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_verify_rr_graph_bin/config/config.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/strong_verify_rr_graph_bin/config/golden_results.txt
  vtr_flow/tasks/regression_tests/vtr_reg_strong/task_list.txt
Labels: VPR, build, docs, lang-cpp, lang-make, libarchfpga, libvtrutil, tests

#369 Sdcparser fix
  libs/EXTERNAL/libsdcparse/src/sdc_lexer.l
Labels: external_libs

#374 Fix missing #include <string>
  vpr/src/route/connection_box.h
Labels: VPR, lang-cpp

#370 Add read edge metadata flag
  vpr/src/base/SetupVPR.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/route/connection_box.h
Labels: VPR, external_libs, lang-cpp
